<div class="joinOuterContainer">
  <div class="joinInnerContainer">
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      [formGroup]="formGroup"
      (ngSubmit)="submitForm()"
    >
      <h1 class="heading">Send PANIC</h1>
      <div>
        <input
          matInput
          placeholder="Longitude"
          formControlName="longitude"
          class="joinInput"
          type="text"
        />
      </div>
      <div>
        <input
          matInput
          placeholder="Latitude"
          formControlName="latitude"
          class="joinInput mt-20"
          type="text"
        />
      </div>
      <div>
        <input
          matInput
          placeholder="Panic_type"
          formControlName="panic_type"
          class="joinInput mt-20"
          type="text"
        />
      </div>
      <div>
        <textarea
          name=""
          matInput
          class="joinInput mt-20"
          cols="30"
          type="text"
          rows="10"
          placeholder="Details"
          formControlName="details"
        ></textarea>
      </div>
      <button class="button mt-20">Send</button>
    </form>
  </div>
</div>
