<div class="joinOuterContainer">
  <div class="joinInnerContainer">
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <h1 class="heading">Login Page</h1>
    <div>
      <input matInput placeholder="Email" formControlName="email" class="joinInput" type="text" />
    </div>
    <div>
        <input matInput placeholder="Password" formControlName="password" class="joinInput mt-20" type="text" />
    </div>
    <button class="button mt-20">Login</button>
  </form>
  </div>
</div> 