<div class="ui container">
  <table>
    <caption>
      Panic History Data
    </caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Panic_type</th>
        <th>Details</th>
        <th>Created_at</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of panicHistory[0]">
        <td>{{ k.id }}</td>
        <td>{{ k.longitude }}</td>
        <td>{{ k.longitude }}</td>
        <td>{{ k.panic_type }}</td>
        <td>{{ k.details }}</td>
        <td>{{ k.created_at }}</td>
        <td>{{ k.status.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
