<!-- TODO: Need to think of an loop to popluate data in here -->
<div class="ui container">
    <table>
        <caption>Panic History Data</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Panic_type</th>
                <th>Details</th>
                <th>Created_at</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO : status is an object with two keys -->
            <tr>
                <td>Id</td>
                <td>28.0559616</td>
                <td>-26.099712</td>
                <td>Bank Robbery</td>
                <td>The joker is holding hostages. Come quick!</td>
                <td>2021-03-09 10:00:00</td>
                <td>status</td>
            </tr>
        </tbody>
    </table>
</div>
