<!-- <div class="top-nav-bar">
    <div class="top-nav-bar__testing">
        <div class="top-nav-bar--image-container">
            <img src="/assets/logo/logo.jpg" alt=" Neo Jusha" width="200" height="120">
        </div>
        <div class="top-nav-bar--navbar-container">
            <ul class="top-nav-bar navbar-left">
                <li class="top-nav-bar__navbar-item">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="top-nav-bar__navbar-item">
                    <a href="www.google.com">
                        Profile
                    </a>
                </li>
                <li class="top-nav-bar__navbar-item">
                    <a href="www.google.com">
                        Work
                    </a>
                </li>
                <li class="top-nav-bar__navbar-item">
                    <a href="#">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-nav-bar--notification">
            <span class="icon icon-notifications"></span> 
        </div>
    </div>
</div> -->
<app-top-nav-bar *ngIf="authService.isLoggedIn$ | async"></app-top-nav-bar>
<!-- <app-top-nav-bar></app-top-nav-bar> -->
<router-outlet></router-outlet>
