.top-nav-bar {

    &__testing {
      display: flex;
      align-items: center;
    }
    ul {
        display: flex;
      }
      
    li {
      list-style-type: none;
      width: 161px;
    }
  
    &--notification {
      .icon-notifications {
        color: primary_color(red);
      }
    }
  }